{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">

		{% if app.user %}
			<div class="mb-3 text-xl flex justify-center py-4 bg-red-300">
				Vous êtes déjà connecté(e) en tant que :
				{{ app.user.userIdentifier }}
				<a href="{{ path('app_logout') }}" class="bg-white rounded-lg ml-2 p-1">Déconnexion</a>
			</div>
		{% endif %}
		<div class="flex justify-center text-rose-700 py-14">
			<div class="inline-block shadow-lg bg-rose-50 p-8 px-32 m-4">
				<div class="flex flex-col">
					<h1 class="text-4xl flex justify-center mb-8 mt-2">Connexion</h1>

					<label for="inputEmail">Email :</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded border-rose-300 border-2 mb-6" autocomplete="email" required autofocus>

					<label for="inputPassword">Mot de passe :</label>
					<input type="password" name="password" id="inputPassword" class="form-control rounded border-rose-300 border-2 mb-10" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html
				
				<div class="checkbox mb-3">
				<label>
				<input type="checkbox" name="_remember_me"> Remember me
				</label>
				</div>
				#}
				</div>

				{# Erreur du mdp/email #}
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')}}</div>
				{% endif %}

				<button class="inline-flex items-center px-3 py-2 text-md font-medium text-center text-white bg-rose-700 rounded-lg hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-blue-300" type="submit">
					Se connecter
				</button>
				<a href="{{ path("app_register") }}" class="ml-6 block text-rose-800 inline-block mt-0 hover:text-rose-600 bg-rose-300 hover:bg-rose-200 px-5 py-2 rounded-lg">
					Je n'ai pas de compte
				</a>

			</div>
		</div>
	</form>
{% endblock %}
