{% extends 'base.html.twig' %}

{% block title %}Produit index
{% endblock %}

{% block body %}

	<!-- Titre de page -->
	<section>
		<div class="flex justify-center text-3xl text-rose-500 pt-20">
			Bouquets
		</div>
	</section>

	<!-- Cards de produits en vente -->
	<section>
		<div class="flex flex-wrap justify-evenly mx-20 my-40 text-rose-400">
			{% for produit in produits %}
				<div class="max-w-sm bg-rose-50 mb-4 border border-gray-200 rounded-lg shadow">
					<a href="{{ path('app_produit_show', { 'id':produit.id }) }}">
						<img class="rounded-t-lg p-4" src="{{ produit.photo }}" alt="{{ produit.nom }}"/>
					</a>
					<div class="p-5">
						<a href="{{ path('app_produit_show', { 'id':produit.id }) }}">
							<h5 class="flex justify-center mb-2 text-2xl font-bold tracking-tight text-rose-700">{{ produit.nom }}
							</h5>
						</a>
						<hr class="my-6 border-rose-300 sm:mx-auto lg:my-4">
						<p class="flex justify-center mb-3 font-normal text-rose-600">{{ produit.prix }} €</p>
					</div>
				</div>
			{% endfor %}
		</div>


		{% if is_granted('ROLE_ADMIN') %}
		
		<div class="flex justify-center mb-10">
			<a href="{{ path('app_produit_new') }}" class="text-xl bg-rose-700 shadow rounded-lg p-2 ml-4 mt-10 text-white hover:bg-rose-800 focus:ring-2 focus:ring-rose-900">Créer un nouvel objet</a>
		</div>

		{% endif %}


	</section>

{% endblock %}
