{% extends 'base.html.twig' %}

{% block title %}Votre commande
{% endblock %}

{% block body %}

	<div class="p-10 flex justify-center text-rose-600 border-b border-rose-300 mx-16">
		<h1 class="text-3xl">Passer la commande</h1>
	</div>


	<section class="grid grid-cols-2 text-xl text-rose-700 py-12">


		<div class="flex justify-center text-rose-500">
			<div class="inline-block shadow-lg bg-rose-50 p-8 px-32 m-4">
				{{ form(form) }}
			</div>
		</div>

		<div class="rounded-lg p-4 lg:mr-80">
			<div class="text-3xl ml-6">Récap</div>
			{% for item in panier %}
				<div class="flex flex-wrap m-4 bg-rose-100 rounded-lg p-4">

					<div class="w-40"><img src="{{ item.produit.photo }}" alt="" class="rounded-lg"></div>

					<div class="flex flex-col ml-4">
						<div class="text-2xl my-4 font-semibold">{{ item.produit.nom }}</div>
						<div>Prix à l'unité :
							{{ item.produit.prix }}
							€</div>
						<div>Quantité :
							{{ item.quantite }}</div>
							<div>Total :
							{{ item.quantite * item.produit.prix }}
							€
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="flex justify-center text-3xl">
				Montant total :
				{{ total }}
				€
			</div>

		</div>

	</section>

{% endblock %}
