{% extends "base.html.twig" %}

{% block title %}
	Fil Rouge - Accueil
{% endblock %}


{% block body %}
	<!-- Cards -->

	{# {{ dump(produits) }} #}

	<section class="flex flex-wrap justify-evenly m-32">
		{% for produit in produits %}

			<div class="max-w-sm bg-rose-50 border border-gray-200 rounded-lg shadow">
				<a href="{{ path('app_produit_show', { 'id':produit.id }) }}">
					<img class="rounded-t-lg" src="{{ produit.photo }}" alt="{{ produit.nom }}"/>
				</a>
				<div class="p-5">
					<a href="{{ path('app_produit_show', { 'id':produit.id }) }}">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ produit.nom }}
						</h5>
					</a>
					<p class="mb-3 font-normal text-gray-700">{{ produit.prix }}</p>
					<a href="{{ path("app_produit") }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-700 rounded-lg hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
						Tous les bouquets
						<i class='bx bx-right-arrow-alt'></i>
					</a>
				</div>
			</div>

		{% endfor %}
	</section>

{% endblock %}
